<% provide(:title) %>

<% if signed_in? %>
    <div class= "row">
      <aside class= "span 4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
      </aside>
      <div class="span8">
        <h3>layers</h3>
        <%= link_to 'Layers', layers_path %>
      </div>
    </div>

<% else %>

    <div class="center hero-unit">
      <h1>Welcome to Geolous</h1>

      <h2>home of the Geolous prototype</h2>

      <div class="centerbutton">
        <%=  link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>

<% end %>


